.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box {
  background: white;
  padding: 20px;
  width: 70%;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 10px;
}

.field {
  margin-bottom: 10px;
}

.field input {
  width: 100%;
  padding: 5px;
}
