:root {
  --primary: #118dd0;
  --primary-light: #7ce577;
  --bg-glass: rgba(17, 141, 208, 0.25);
  --white: #ffffff;
}

.marriage-form-container {
  min-height: 100vh;
  width: 100%;
  background: #b6efd4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* MAIN CARD */
.marriage-form {
  width: 90%;
  /* max-width: 1150px; */
  background: var(--bg-glass);
  padding: 10px;
  margin-right: -19px;
  border-radius: 15px;
  color: var(--white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  
}

/* FLEXBOX TWO SIDES */
.form-flex {
  display: flex;
  justify-content:center;
  /* align-items: center; */
  gap: 25px;
  width: 100%;
}

/* LEFT + RIGHT COLUMNS */
.form-section {
  width: 100%;
  padding: 20px;
  margin: 10px 10px 10px 0px;
  background: rgba(255,255,255,0.15);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}
.flex1{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;

}
/* INPUTS */
.form-section input,
.form-section textarea {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  outline: none;
}

/* TEXTAREA */
.form-section textarea {
  height: 120px;
}

/* CHECKBOX / RADIO */
.form-section input[type="radio"],
.form-section input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

/* BUTTON */
.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: transparent;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  
}

.submit-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .form-flex {
    flex-direction: column;
  }
  
  .form-section {
    width: 100%;
  }
}
